body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0c1d16;
    color: white;
    font-size: 1.1rem;
}

main {
    flex-grow: 1;
    align-content: center;
    /* margin: 100px; */
}

.navbar {
    display: flex;
    /* background-color: teal; */
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
}

.navbar p {
    padding-right: 50px;
}

.navbar ul {
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0px;
}
ul {
    display: flex;
    /* background-color: blueviolet; */
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0px;
}

li {
    list-style-type: none;
    padding: 1px 10px;
}

a {
    text-decoration: none;
}

#user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px
}

#user-info img {
    border-radius: 1vh;
}

#user-info .user-info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
#user-info .user-info-text {
    padding: 50px;
}

.cards {
    display: flex;
    /* border: 10px solid red; */
    padding: 20px;
    /* background: #ccc; */
    /* flex-direction: row; */
    /* width: 80%; /
    / margin: 0 auto; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.card {
    /* border: 1px solid greenyellow; */
    padding: 15px;
    width: 320px;
    margin: 40px;
    text-align: center;
    background-color: #21835b;
    border-radius: 2%;
}

.card h1 {
    color:#3fd99c;
}

#contact-form * {
    display: block;
}

.nav-link a {
    background-color: #40d99b;
    border-radius: 5%;
    padding: 10px;
    margin: 10px;
    color: white
}

footer {
    border-radius: 1vh;
    border-top: 1px solid rgba(145, 145, 145, 0.15);
    /* background-color:#22825b; */
}


.cards img {
    border-radius: 5%;
}

header {
    border-bottom: 1px solid rgba(145, 145, 145, 0.15);
}